body{
    position: relative;
    padding-top: 2px;
    background-color: black;
    color: white;
}
header{
    position: relative;
    top: 0px;
    left: 0px;

}
main{
    position: relative;
    top: 350px;
    left: 0px;
}